<p id="notice"><%= notice %></p>

<p> Isabel </p>
  <strong>Nome:</strong> <br><br><br>
  <h1><%= @breed.nome %></h1>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
